node_modules/
dist/
.env

gh repo nest-food-court-learning  create --public --push --source=. 

DB_PRODUCTION_PASSWORD=hayzeddev
DB_DEVELOPMENT_PASSWORD=hayzeddev
DB_TEST_PASSWORD=hayzeddev
DB_PRODUCTION_PORT=5434
DB_DEVELOPMENT_PORT=5432
DB_TEST_PORT=5433
DATABASE_URL=
DB_HOST=localhost
PORT=5000
